<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
  <header>
    <nav class="navbar bg-dark header"  data-bs-theme="dark">
      <div class="container-fluid">
        <a th:text="'Военкоматы России'" class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/user/aboutMe">Обо мне</a>
            </li>
<!--            <li class="d-flex nav-item">-->
<!--              <a class="nav-link" href="/user/notification">Уведомления</a>-->
<!--              <span th:if="${count!=0}" class="m-2 text-center badge bg-primary rounded-pill" th:text="${count}"></span>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="/user/other">Другое</a>-->
<!--            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="/logout">Выйти</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container mt-5">
    <div class="row align-items-start">
      <div class="col col-md-4">
        <nav class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="/user/aboutMe">Главная</a>
          <a class="nav-link" href="/user/postponements">Отсрочки</a>
          <a class="nav-link" href="/user/service">Данные о прохождении службы</a>
          <a class="nav-link" href="/user/subpoenas">Повестки</a>
          <a class="nav-link" href="/user/medicalCard">Медецинская карта</a>
          <a class="nav-link" href="/user/inspections">Осмотры</a>
          <a class="nav-link" href="/user/parents">Ближайшие родственники</a>
          <a class="nav-link" href="/user/awards">Награды</a>
          <a class="nav-link" href="/user/sizeForm">Размеры формы</a>
        </nav>
      </div>
      <div class="col">
        <p th:if="${user.getPatronimic()}!=null" th:text="'ФИО: ' + ${user.getSurname()} + ' ' + ${user.getName()} + ' '+ ${user.getPatronimic()}"></p>
        <p th:if="${user.getPatronimic()}==null" th:text="'ФИО: ' + ${user.getSurname()} + ' ' + ${user.getName()}"></p>
        <p th:text="'Дата рождения: ' + ${user.getDateOfBirth()}"></p>
        <p th:if="${user.getGender()}" th:text="'Пол: Мужской'"></p>
        <p th:if="${!user.getGender()}" th:text="'Пол: Женский'"></p>
        <p th:text="'Статус: ' + ${user.getStatus().getValue()}"></p>
        <p th:text="'Номер приписного/Военного билета: ' + ${user.getStatusCode()}"></p>
        <p th:text="'Номер телефона: ' + ${user.getPhone()}"></p>
        <p th:text="'Военкомат: ' + ${user.getMilitaryOffice().getName()}"></p>
        <p th:text="'Семейное положение: ' + ${user.getFamilyStatus().getValue()}"></p>
        <p th:text="'Количетсво детей: ' + ${user.getAmountOfChildren()}"></p>
        <p th:text="'Место рождения: ' + ${user.getPlaceOfBirth()}"></p>
        <p th:text="'Адрес места жительства: ' + ${user.getResidenceAddress()}"></p>
        <p th:text="'Адрес фактического пребывания: ' + ${user.getResidenceAddressCurr()}"></p>
        <p th:text="'Индекс: ' + ${user.getIndex()}"></p>
        <p th:text="'Уровень образования: ' + ${user.getLevelOfEducation()}"></p>
        <p th:if="${user.getSpeciality()!=null and not #strings.isEmpty(user.getSpeciality())}" th:text="'Специальность: ' + ${user.getSpeciality()}"></p>
        <p th:if="${user.getPlaceOfCollection()!=null and not #strings.isEmpty(user.getPlaceOfCollection())}" th:text="'Место получения: ' + ${user.getPlaceOfCollection()}"></p>
        <p th:if="${user.getExpirationDate()!=null }" th:text="'Дата окончания: ' + ${user.getExpirationDate()}"></p>
        <p th:if="${user.getPlaceOfWork()==null or #strings.isEmpty(user.getPlaceOfWork())}" th:text="'Место работы: Безработный'"></p>
        <p th:if="${user.getPlaceOfWork()!=null and not #strings.isEmpty(user.getPlaceOfWork())}" th:text="'Место работы: ' + ${user.getPlaceOfWork()}"></p>
        <p th:if="${user.getSalary()!=0}" th:text="'Зарплата: ' + ${user.getSalary()}"></p>
        <p th:if="${user.getJobTitle()!=null and not #strings.isEmpty(user.getJobTitle())} " th:text="'Должность: ' + ${user.getJobTitle()}"></p>
        <p th:text="'Политические взгляды: ' + ${user.getPoliticalViews()}"></p>
        <p th:text="'Религиозные взгляды: ' + ${user.getReligiousViews()}"></p>
        <p th:if="${user.getDriverLicense()!=null and not #strings.isEmpty(user.getDriverLicense())}" th:text="'Водительские права: ' + ${user.getDriverLicense()}"></p>
        <p th:if="${user.getDriverLicense()==null or #strings.isEmpty(user.getDriverLicense())}" th:text="'Водительские права: Отсутсвуют'"></p>
        <p th:if="${user.getMilitarySpeciality()!=null  and not #strings.isEmpty(user.getMilitarySpeciality())}" th:text="'Военно-учетная специальность: ' + ${user.getMilitarySpeciality()}"></p>
        <p th:if="${user.getMilitarySpeciality()==null or #strings.isEmpty(user.getMilitarySpeciality())}" th:text="'Военно-учетная специальность: Отсутсвует'"></p>
        <p th:text="'Общее время службы: ' + ${user.getExperience()} + ' месяцев'"></p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>