<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Parent</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<header>
  <nav class="navbar bg-dark header"  data-bs-theme="dark">
    <div class="container-fluid">
      <a th:text="'Военкоматы России'" class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/aboutMe">Обо мне</a>
          </li>
<!--          <li class="d-flex nav-item">-->
<!--            <a class="nav-link" href="/notification">Уведомления</a>-->
<!--            <span th:if="${count!=0}" class="m-2 text-center badge bg-primary rounded-pill" th:text="${count}"></span>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/other">Другое</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/logout">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class = "m-5">
  <div class="container mt-5">
    <div class="row align-items-start">
      <div class="col text-white col-md-4">
        <nav class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="/user/aboutMe">Главная</a>
          <a class="nav-link" href="/user/postponements">Отсрочки</a>
          <a class="nav-link" href="/user/service">Данные о прохождении службы</a>
          <a class="nav-link" href="/user/subpoenas">Повестки</a>
          <a class="nav-link" href="/user/medicalCard">Медецинская карта</a>
          <a class="nav-link" href="/user/inspections">Осмотры</a>
          <a class="nav-link" href="/user/parents">Ближайшие родственники</a>
          <a class="nav-link" href="/user/awards">Награды</a>
          <a class="nav-link" href="/user/sizeForm">Размеры формы</a>
        </nav>
      </div>
      <div th:if="${thereIs}" class="col bg-white">
        <ul class="list-group list-group-numbered">
          <li th:each="inspection : ${inspections}" class="list-group-item">
            <h5>Дата :</h5>
            <p th:text="${inspection.getDate()}"></p>
            <h5>Заключение :</h5>
            <p th:text="${inspection.getConclusion()}"></p>
            <h5>Категория :</h5>
            <p th:text="${inspection.getCategory()}"></p>
            <h5>Доктор  :</h5>
            <p th:text="${inspection.getDoctor().getName()} + ' (' + ${inspection.getDoctor().getJobTitle()} + ')'"></p>
          </li>
        </ul>
      </div>
      <div th:if="${!thereIs}" class="col">
        <h6>Данные отсутсвуют</h6>
      </div>
    </div>

  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>


</body>
</html>