<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<header>
  <nav class="navbar bg-dark header"  data-bs-theme="dark">
    <div class="container-fluid">
      <a th:text="'Военкоматы России'" class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/aboutMe">Обо мне</a>
          </li>
          <li class="d-flex nav-item">
            <a class="nav-link" href="/notification">Уведомления</a>
            <span th:if="${count!=0}" class="m-2 text-center badge bg-primary rounded-pill" th:text="${count}"></span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/other">Другое</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">

  <div th:each="notification : ${notifications}" class="alert alert-dark m-2" role="alert">
    <form action="#" th:action="@{/user/notification}" th:object="${tmp}" method="post">
      <input class="d-none" name="Id" id="Id" type="text" th:value="${notification.id}">
      <button type="submit" name="action" value="deleteNotification" class="btn-close align-self-end"></button>
      <h6 class="align-self-start" th:text="${notification.getDate()}"></h6>
      <div th:if="${notification.getType().getValue()=='Повестка'}">
        <p>Вам пришла повестка</p>
        Чтобы ознакомится перейдите <a th:href="@{/aboutMe/subpoena}" class="alert-link">по ссылке</a>.
      </div>
      <div th:if="${notification.getType().getValue()=='Успешная смена военкомата'}">
        <p>Ваш запрос на смену военкомата был одобрен</p>
        Чтобы ознакомится перейдите <a th:href="@{/aboutMe}" class="alert-link">по ссылке</a>.
      </div>
      <div th:if="${notification.getType().getValue()=='Неуспешная смена военкомата'}">
        <p>Ваш запрос на смену военкомата был отклонен</p>
      </div>
      <div th:if="${notification.getType().getValue()=='Одобренный запрос на выдачу справки'}">
        <p>Ваш запрос на получение справки был одобрен</p>
        <a th:href="@{/other/getDocument}" class="alert-link">Нажмите</a> чтобы перейти к документам.
      </div>
      <div th:if="${notification.getType().getValue()=='Неодобренный запрос на выдачу справки'}">
        <p>Ваш запрос на получение справки был отклонен</p>
      </div>
    </form>
  </div>

</div>
<div th:if="${!thereIs}">
  <h5>У вас нет уведомлений</h5>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>