<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление родственника</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="navbar bg-dark header"  data-bs-theme="dark">
        <div class="container-fluid">
            <a th:text="'Военкоматы России'" class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/aboutMe">Обо мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/getUsers">Граждане</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


    <div class="container mt-5">
        <div class="row align-items-start">
            <div class="col col-md-4 border border-2 border-black p-0 mr-2">
                <nav class="nav flex-column">
                    <div class="container">
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/parents(id=${id})}" href="#">Список ближайших родственников</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/service(id=${id})}" href="#">Список служб</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/awards(id=${id})}" href="#">Список наград</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/postponement(id=${id})}" href="#">Список отсрочек</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/subpoena(id=${id})}" href="#">Список призывов</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/medicalCard(id=${id})}" href="#">Медецинская карта</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/inspection(id=${id})}" href="#">Осмотры</a>
                        <a class="nav-link" aria-current="page" th:href="@{/getUser/{id}/sizeForm(id=${id})}" href="#">Размер формы</a>
                    </div>
                    <div class="container border-top border-2 border-black m-0">
                        <a class="nav-link" th:href="@{/getUser/{id}/inspection(id=${id})}">Назад</a>
                    </div>
                </nav>

            </div>


            <!--Форма добавления осмотра-->
            <form class="col bg-white" action="#" th:action="@{/getUser/{id}/inspection/create(id=${id})}" th:object="${inspection}" method="post">

                <!--Дата-->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Дата</label>
                    <div class="col-sm-10">
                        <input  th:field="*{DATE}" type="date" class="form-control" id="DATE" placeholder="Дата">
                    </div>
                </div><br>

                <!--Заключение-->
                <div style="color: red; font-size: 12px" th:if="${#fields.hasErrors('CONCLUSION')}" th:errors="*{CONCLUSION}"></div>
                <div class="form-group row">
                    <label for="CONCLUSION" class="col-sm-2 col-form-label">Заключение</label>
                    <div class="col-sm-10">
                        <input th:field="*{CONCLUSION}" type="text" class="form-control" id="CONCLUSION" placeholder="Заключение">
                    </div>
                </div><br>

                <!--Категория-->
                <div style="color: red; font-size: 12px" th:if="${#fields.hasErrors('CATEGORY')}" th:errors="*{CATEGORY}"></div>
                <div class="form-group row">
                    <label for="CATEGORY" class="col-sm-2 col-form-label">Категория</label>
                    <div class="col-sm-10">
                        <input th:field="*{CATEGORY}" type="text" class="form-control" id="CATEGORY" placeholder="Категория">
                    </div>
                </div><br>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>

            </form>

        </div>
    </div>


    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>


</body>
</html>